.slide {
    height: 300px;
}

.carousel-inner {
    height: 300px;

}

.navbar-image {
    border-radius: 50%;
}

.carousel-inner .carousel-item img {
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;

}

.carousel {
    background-color: rgba(0, 0, 0, 0.63);
}

