.name_block {
    background-color: transparent;
    float: left;

}

.name_block .picture {
    background-image: url('/media/base/myself.jpg');
    background-size: 350px auto;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    display: inline-block;

}

.name_block .name {
    margin: 0;
    color: white;
    font-size: 45px;
    text-align: center;
}

.logo {
    display: block;
    border: 2px solid black;
    padding: 235px;
    background-image: url('/media/base/AI-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


ul.menu {
    /* 取消ul預設的內縮及樣式 */
    float: right;
    margin-right: 20px;
    line-height: 51px;
}


ul.menu li {
    float: left;
    margin-right: 30px;
    font-size: 60px;
    list-style: none;
}

ul.menu li a {
    text-decoration: none;
    color: darkred;
    display: block;
    margin: 0 1px;
}
