<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/base.css" type="text/css" rel="stylesheet">
    <title class="title">
        {% block title %}Resume{% endblock %}
    </title>
</head>

<body>
<div class="page">
    <div class="name_block">
        <!-- 因為這是一個小區塊所以我們也使用一個div來包裹裡面的東西，並且給他一個class樣式方便我們調整-->
        <div class="picture"></div>
        <p class="name">
            孔忠煦
        </p>
        <p class="name">
            Tyrion Kung
        </p>
    </div>


{#        <ul class="menu">#}
{#            <li><a href="">Home</a></li>#}
{#            <li><a href="Introduction">Introduction</a></li>#}
{#            <li><a href="Experience">Experience</a></li>#}
{#            <li><a href="Appendix">Appendix</a></li>#}
{#            <li><a href="AboutMe">About ME</a></li>#}
{#        </ul>#}
        <div class="header1">
            <h4>Introduction</h4>
            <h2>簡介</h2>
            <p class="solid_line"></p>
            <p></p>
            <h4>Experience</h4>
            <h2>經歷</h2>
            <p class="solid_line"></p>
            <p></p>

            <h4>Skills</h4>
            <h2>專業技能</h2>
            <p class="solid_line"></p>
            <h4>Hard Skills</h4>
            <h2>硬實力</h2>
            <p>前端網頁開發(html/css)</p>
            <p>前端桌面應用程式開發(WPF)</p>
            <p>機器學習(Python)</p>
            <p>Solidworks製圖與設計</p>
            <p>Ansys靜態動態、熱傳與流固模型分析</p>
            <p>Matlab數據視覺化</p>
            <h4>Soft Skills</h4>
            <h2>軟實力</h2>
            <p>團隊合作</p>
            <p>喜愛嘗試學習新的技術與東西</p>
            <p>積極詢問</p>
            <p>喜好討論與爭論</p>
            <p>善於利用零碎時間</p>
            <h4>Programming Skills</h4>
            <h2>程式技能</h2>
            <p>C#</p>
            <p>Python</p>
            <p>Matlab</p>
            <p>C、C++</p>
            <p class="solid_line"></p>
            <p></p>
        </div>


</div>
</body>
</html>
